p {
  font-family: 'Merienda One', cursive;
  font-size: 15px;
  text-align: center;
  color: black;
  }
#logo {
  height: 50px;
  widht: 50px;
  }
.navbar-brand{
  padding: 0px 0px 0px 0px;
}
.jumbotron {
  background-color: white;
  padding: 0px 100px 0px 100px
}
.quote {
  font-size: 60px;
}
.fa {
font-size: 50px;
padding: 0px 15px 0px 15px;
}
.fa-facebook-square {
color: #3b5998;
}
.fa-instagram {
color: #c13584;
}
.fa-twitter-square {
  color: #55acee;
}
.fa-pinterest-square {
  color: #cb2027;
}
.fa-copyright{
  font-size: 15px;
}
h1 {
  font-family: 'Kalam', cursive;
  font-size: 30px;
}
h2{
 font-family: cursive;
 font-size: 40px;
 text-align: center;
 padding: 40px 40px 40px 40px;
}
